<h1>All Reviews</h1>
<ul>
<%@reviews.each do |review|%>
<p>The rating is <%= "â­" * (review.rating)%></p>
<p><%= review.content%></p>
<%end%>
</ul>
<div>
<%= link_to "add review" , new_restaurant_review_path%>
</div>
<%= link_to "back to restaurant", restaurant_path(@restaurant)%>
